<!DOCTYPE html>
<html>
<head>
    <title>MLFlowApp - Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>MLFlowApp - Télécharger vos données</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Uploader">
    </form>

    <form method="POST" action="/train">
        <label for="model">Model:</label>
        <select name="model">
            <option value="linear">Linear Regression</option>
            <option value="random_forest">Random Forest</option>
        </select>
        <input type="submit" value="Entraîner">
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% if message and message.startswith("Modèle") %}
        <p>{{ message }}</p>
        <a href="{{ url_for('show_results') }}" class="btn">Voir les résultats</a>
    {% endif %}
</body>
</html>